.container{
    background-color: #fff;
    color: #000;
    padding: 0.4rem;
    border-bottom: gray solid;
}
.cl {
    color : black;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancel{
    color: #000;
}
.btn{
    width: 4.5rem;
    background-color: rgb(0, 195, 255);
    border-radius: 1rem;
    padding: 0.4rem;
    color: #fff;
}
.prof{
    margin-top: 0.5rem;
    display: flex;
    gap: 0.2rem;
}
.img{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: solid 1px;
    overflow: hidden;
}
.namendesc{
    display: flex;
    flex-direction: column;
    color: #000;
}
.qnparagraph{
    margin-top: 0.3rem;
    color: #000;
}
.input{
    color: #000;
    padding: 0.3rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 0.3rem;
}
