.container{
    background-color: rgb(228, 222, 222);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}
.cards{
    
    display: flex;
    flex-wrap: wrap; 
    margin: 0.1rem;
    gap: 0.5rem;
    color: black;
}
.sug{
    margin-top: 10px;
    background-color: white;
}
.sugg{
    margin-top: 5px;
    color: rgb(81, 122, 235);
    font-size: large;
    padding: 0.5rem;
}