.container{
background-color: white;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    background-color: rgb(228, 225, 225);
}
.inner{
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.form{
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
}
.btn{
    width: 4.5rem;
    background-color: rgb(0, 195, 255);
    border-radius: 1rem;
    padding: 0.2rem;
}
.head{
    color: black;
    font-size: larger;
}
.back{
    color: black;
}
.headings{
    color: black;
}
.abt{
    font-size: medium;
    color: rgb(63, 61, 61);
    width: 85%;
}
.txt{
   font-size: small;
   color: rgb(48, 46, 46);
}
.input{
     color: black;
     padding: 0.3rem;
     border: solid 1px gray;
     width: 100%;
     border-radius: 0.5rem;
}