.container{
    padding: 0.3rem;
    width: 100%;
    color: black;
}
.inner{
    display: flex;
    gap: 0.5rem;
}
.input{
   width: 100%;  
}
.inputcard{
    width: 100%;
    border-radius: 20px;
}
.choose{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}
.icon{
    display: flex;
    gap: 0.2rem;
}
